@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tropicui";

:root {
    --font-inter: "Inter";
    --header-h: --spacing(14);
}

html {
    font-family: var(--font-inter, var(--font-sans));
    font-size: 14px;
    color: var(--color-base-foreground);
}