@layer components {
    .select {
        /* modifiers */
        --select-size: --spacing(10);

        --select-bg: var(--select-color, var(--color-base));
        --select-fg: var(--color-base-foreground);
        --select-soft-bg: color-mix(in oklab, var(--select-color, var(--color-base-dense)) 12%, transparent);
        --select-border-width: 1px;
        --select-border: color-mix(in oklab, var(--select-color, var(--color-base-border)), var(--color-black) 12%);

        --select-focus-outline: color-mix(in oklab, var(--select-color, var(--color-accent)) 40%, transparent);
        --select-focus-border: var(--select-color, var(--color-accent));

        --select-invalid-bg: color-mix(in oklab, var(--color-danger) 25%, var(--color-base-background));
        --select-invalid-border: var(--color-danger);

        --select-placeholder: color-mix(in oklab, var(--select-fg), transparent 20%);

        /* layout */
        appearance: none;
        cursor: pointer;

        /* dimensions */
        block-size: var(--select-size);
        min-inline-size: var(--select-size);
        padding-inline: --spacing(4) --spacing(8);

        /* colors */
        background-color: var(--select-bg);
        border-width: var(--select-border-width);
        border-style: var(--select-border-style, solid);
        border-color: var(--select-border);
        border-radius: var(--select-radius, var(--radius-control));
        outline: 0px solid var(--select-focus-outline);
        outline-offset: 0px;
        box-shadow: var(--select-shadow, var(--shadow-low));
        color: var(--select-fg);

        /* typography */
        overflow: hidden;
        text-wrap: nowrap;
        font-size: calc(var(--select-size) * 0.4);
        line-height: 1.25;

        /* animation */
        transition-property: background-color, border-color, box-shadow, color, outline;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        /* dropdown arrow */
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23777777"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" /></svg>');

        &:dir(ltr) {
            background-position: right 0.5rem center;
        }

        &:dir(rtl) {
            background-position: left 0.5rem center;
        }

        background-repeat: no-repeat;
        background-size: 1.25em;

        /* hover */
        @media (hover: hover) {
            &:hover {
                --select-bg: color-mix(in oklab, var(--select-color, var(--color-base)), var(--color-black) 6%);
                --select-border: color-mix(in oklab, var(--select-color, var(--color-base-border)), var(--color-black) 24%);
            }
        }

        /* focus */
        &:focus-visible {
            outline-width: 3px;
            /* colors */
            --select-border: var(--select-focus-border);
        }

        /* validation */
        &.select-validate:user-invalid,
        &.select-invalid {
            /* colors */
            --select-border: var(--select-invalid-border);
            --select-bg: var(--select-invalid-bg);
        }

        /* disabled */
        &:is(:disabled, [disabled]) {
            /* layout */
            cursor: not-allowed;
            pointer-events: none;

            background-color: color-mix(in oklab, var(--select-bg), var(--color-base-background) 60%);
            --select-border: color-mix(in oklab, var(--select-color, var(--color-base-dense)), transparent 80%);
            color: color-mix(in oklab, var(--select-fg, var(--color-base-foreground)), var(--color-base-background) 50%);
        }

        /* placeholder */
        &:not(:disabled, [disabled]):has(option[value=""]:checked) {
            color: var(--select-placeholder);
        }
    }

    /* variants */
    .select-pill {
        --select-radius: calc(infinity * 1px);
    }

    .select.select-clear {
        /* colors */
        --select-bg: transparent;
        --select-fg: var(--select-color, var(--color-base-foreground));
        --select-border: transparent;
        --select-shadow: none;
    }

    .select.select-outline,
    .select.select-outline-bold {
        /* colors */
        --select-bg: transparent;
        --select-fg: var(--select-color, var(--color-base-foreground));
        --select-shadow: none;

        /* hover */
        @media (hover: hover) {
            &:hover {
                --select-bg: var(--select-soft-bg);
            }
        }
    }

    .select-outline-bold {
        --select-border-width: 2px;
    }

    .select.select-soft {
        /* colors */
        --select-bg: var(--select-soft-bg);
        --select-fg: var(--select-color, var(--color-base-foreground));
        --select-shadow: none;
    }

    /* colors */
    .select-primary {
        --select-color: var(--color-primary);
        --select-fg: var(--color-primary-content);
    }
    .select-accent {
        --select-color: var(--color-accent);
        --select-fg: var(--color-accent-content);
    }
    .select-success {
        --select-color: var(--color-success);
        --select-fg: var(--color-success-content);
    }
    .select-warning {
        --select-color: var(--color-warning);
        --select-fg: var(--color-warning-content);
    }
    .select-danger {
        --select-color: var(--color-danger);
        --select-fg: var(--color-danger-content);
    }

    .select:not(
        .select-soft,
        .select-clear,
        .select-outline,
        .select-outline-bold
    ):is(
        .select-primary,
        .select-accent,
        .select-success,
        .select-warning,
        .select-danger
    ) {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23DDDDDD"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" /></svg>');
    }

    /* sizes */
    .select-xs {
        --select-size: --spacing(8);
    }
    .select-sm {
        --select-size: --spacing(9);
    }
    .select-lg {
        --select-size: --spacing(11);
    }
    .select-xl {
        --select-size: --spacing(12);
    }
    .select-2xl {
        --select-size: --spacing(13);
    }
}