@layer components {
    .table {
        /* modifiers */
        --table-header-bg: var(--color-base-airy);
        --table-row-border: var(--border-width) solid var(--color-base-border);
        --table-row-height: --spacing(14);

        /* colors */
        background-color: var(--color-base-background);

        /* typography */
        text-align: left;
        color: var(--color-base-foreground);

        thead {
            tr {
                th {
                    background-color: var(--table-header-bg);
                    font-weight: var(--font-weight-semibold);

                    .card:not(.card-flat) &:first-child {
                        border-start-start-radius: calc(var(--radius-container) - var(--border-width));
                    }

                    .card:not(.card-flat) &:last-child {
                        border-start-end-radius: calc(var(--radius-container) - var(--border-width));
                    }
                }
            }
        }

        tbody {
            tr {
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--table-row-hover-bg);
                    }
                }

                &:nth-of-type(odd):not(:hover) {
                    background-color: var(--table-striped-bg);
                }
            }
        }

        :where(thead tr,tbody tr:not(:last-child)) {
            border-bottom: var(--table-row-border);
        }

        :where(th,td) {
            height: var(--table-row-height);
            padding-block: --spacing(2);
            padding-inline: --spacing(4);
            vertical-align: middle;
        }
    }

    /* variants */
    .table-hover {
        --table-row-hover-bg: var(--color-base);
    }

    .table-striped {
        --table-striped-bg: var(--color-base);
    }

    .table-borderless {
        --table-row-border: none;
        --table-border: none;
    }

    .table-compact {
        :where(th,td) {
            --table-row-height: --spacing(8);
            padding-block: --spacing(1);
            padding-inline: --spacing(2);
        }
    }
}