@custom-variant theme-dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
    color-scheme: dark;

    --color-base-background: var(--color-slate-950);
    --color-base: var(--color-slate-900);
    --color-base-airy: var(--color-slate-800);
    --color-base-border: var(--color-slate-700);
    /* --color-base-curb: var(--color-slate-600); */
    --color-base-dense: var(--color-slate-500);
    /* --color-base-even: var(--color-slate-400); */
    --color-base-foreground: var(--color-slate-300);

    --color-primary: var(--color-slate-500);
    --color-primary-content: var(--color-slate-200);
    --color-accent: var(--color-sky-600);
    --color-accent-content: var(--color-sky-200);
    --color-danger: var(--color-rose-700);
    --color-danger-content: var(--color-rose-200);
    --color-warning: var(--color-amber-600);
    --color-warning-content: var(--color-amber-200);
    --color-success: var(--color-emerald-600);
    --color-success-content: var(--color-emerald-200);

    --border: 1px;
    --radius: 0.5rem;
}