@custom-variant theme-solar (&:where([data-theme=solar], [data-theme=solar] *));

[data-theme="solar"] {
    color-scheme: light;

    --color-primary: var(--color-amber-700);

    --border: 1px;
    --radius: 0.5rem;
}
