@theme {
    --color-base: var(--color-neutral-100);
    --color-base-border: var(--color-neutral-200);
    --color-base-medium: var(--color-neutral-400);
    --color-base-content: var(--color-neutral-600);
    --color-primary: var(--color-neutral-700);
    --color-primary-content: var(--color-neutral-100);
    --color-accent: var(--color-blue-400);
    --color-accent-content: var(--color-blue-50);
    --color-danger: var(--color-red-600);
    --color-danger-content: var(--color-red-50);
    --color-warning: var(--color-amber-400);
    --color-warning-content: var(--color-amber-950);
    --color-success: var(--color-green-600);
    --color-success-content: var(--color-green-50);

    /* radius */
    --radius-container: calc(var(--radius) / 1);
    --radius-control: calc(var(--radius) / 1.8);
    --radius-input: calc(var(--radius) / 2.4);

    /* shadow */
    --shadow-low:
        0 1px 2px 0 rgba(0, 0, 0, 0.1),
        0 0 3px -2px rgba(0, 0, 0, 0.05);
    --shadow-medium:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 3px -1px rgba(0, 0, 0, 0.05);
    --shadow-high:
        0 8px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}