html {
    /* font-size: 14px; */
    color: var(--color-base-foreground);
}
@layer base {
    dialog {
        margin: auto;
    }
}
@theme {
    --tt-sidebar-max-w: --spacing(64);
    --tt-sidebar-min-w: --spacing(16);
}