@layer base {
    h1, .h1 {
        font-size: var(--text-5xl);
        font-weight: var(--font-weight-bold);
        line-height: var(--text-5xl--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(8);
        }
    }
    h2, .h2 {
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-semibold);
        line-height: var(--text-4xl--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(6);
        }
    }
    h3, .h3 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-medium);
        line-height: var(--text-3xl--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(6);
        }
    }
    h4, .h4 {
        font-size: var(--text-2xl);
        line-height: var(--text-2xl--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(4);
        }
    }
    h5, .h5 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-light);
        line-height: var(--text-xl--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(4);
        }
    }
    h6, .h6 {
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);

        &:has(+ *) {
            margin-block-end: --spacing(2);
        }
    }

    blockquote, .blockquote {
        padding-inline-start: --spacing(12);

        & > p {
            line-height: var(--leading-relaxed);
        }
        & > .blockquote-footer::before {
            content: "— ";
        }
    }

    p {
        line-height: var(--leading-loose);
        margin-block-end: --spacing(4);
    }

    ul.list-styled {
        list-style-type: disc;
        padding-inline: --spacing(6);
    }

    ol.list-styled {
        list-style-type: decimal;
        padding-inline: --spacing(6);
    }

    mark {
        background-color: var(--color-accent);
        color: var(--color-accent-content);
    }

    small {
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
    }
}