/*
Badge component styles.

@description Provides an indicator that can be positioned at any of the outer corners of a parent element.

@layer components - Applies styles at the component layer of the CSS cascade.
*/
@layer components {
    .badge {
        /* layout */
        position: relative;
        inline-size: fit-content;
    }

    .badge-top-left,
    .badge-top-right,
    .badge-bottom-left,
    .badge-bottom-right {
        position: absolute;
        z-index: 1;
    }
    
    /* Position modifiers */
    .badge-top-left {
        translate: -50% -50%;
        inset-block-start: 0;
        inset-inline-start: 0;

        &.badge-tight {
            translate: -25% -25%;
        }
    }
    
    .badge-top-right {
        translate: 50% -50%;
        inset-block-start: 0;
        inset-inline-end: 0;

        &.badge-tight {
            translate: 25% -25%;
        }
    }
    
    .badge-bottom-left {
        translate: -50% 50%;
        inset-block-end: 0;
        inset-inline-start: 0;

        &.badge-tight {
            translate: -25% 25%;
        }
    }
    
    .badge-bottom-right {
        translate: 50% 50%;
        inset-block-end: 0;
        inset-inline-end: 0;

        &.badge-tight {
            translate: 25% 25%;
        }
    }
}