@layer components {
    .breadcrumb {
        ol, ul {
            /* layout */
            display: inline-flex;
            gap: --spacing(2);

            li {
                /* layout */
                display: flex;
                gap: --spacing(2);

                /* text */
                color: var(--color-base-content);

                /* divider */
                &:not(:first-child)::before {
                    content: "/";
                    display: block;
                }
            }
        }
    }
}