@layer components {
    .btn {
        /* inline-flex for flexible size */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: --spacing(2);
        /* dimensions */
        min-width: var(--btn-min-size);
        min-height: var(--btn-min-size);
        padding-inline: --spacing(2);
        padding-block: --spacing(1);
        /* text */
        overflow: hidden;
        text-wrap: nowrap;
        text-decoration: none;
        /* colors */
        background-color: var(--btn-bg);
        color: var(--btn-fg);
        /* states */
        &:hover {
            background-color: var(--btn-hover);
        }
        &:focus {
            background-color: var(--btn-focus);
        }
        &:active {
            background-color: var(--btn-active);
        }
        &:has(input:checked):not(:hover) {
            background-color: var(--btn-highlight);
        }
        /* modifiers */
        --btn-bg: var(--color-neutral-100);
        --btn-fg: var(--color-neutral-600);
        --btn-border: none;
        --btn-hover: var(--color-neutral-200);
        --btn-focus: var(--color-neutral-200);
        --btn-active: var(--color-neutral-300);
        --btn-highlight: var(--color-white);
        --btn-min-size: --spacing(9);
    }
    .btn-icon {
        border: 2px solid var(--color-neutral-50);
        box-shadow: var(--tt-ring-shadow), var(--shadow-sm);
        padding-inline: 0;
        --tt-ring-shadow: 0 0 0 1px var(--color-neutral-300, currentColor);
    }
    .btn-block {
        display: flex;
    }
    .btn-clear {
        --btn-bg: none;
    }
    .btn-rounded {
        border-radius: var(--radius-sm);
    }
    .btn-white {
        border: 1px solid var(--color-neutral-200);
        box-shadow: var(--shadow-xs);
        --btn-bg: var(--color-white);
        --btn-hover: var(--color-white);
        --btn-focus: var(--color-white);
        --btn-active: var(--color-white);
    }
    svg, img, i {
        .btn & {
            width: --spacing(5);
            min-width: --spacing(5);
        }
    }
}