@layer components {
    .card {
        box-shadow: var(--shadow-xs);
        border-radius: var(--radius-sm);
        width: 100%;
        background-color: var(--card-bg);
        /* modifiers */
        --card-bg: var(--color-white);
        &.card-border {
            border: 1px solid var(--color-neutral-200);
        }
        &.card-gutter {
            margin-block-end: --spacing(8);
        }
        .card-header {
            border-bottom: 1px solid var(--color-neutral-200);
            @apply
                flex
                justify-between
                items-center
                px-6
                py-4
            ;
            .card-title {
                @apply
                    flex
                    items-baseline
                    gap-2
                ;
            }
            .card-toolbar {
                @apply
                    flex
                    justify-end
                    gap-2
                ;
            }
            small {
                @apply
                    text-sm
                    text-(--color-base-subtle)
                ;
            }
        }
        .card-body {
            padding-inline: --spacing(6);
            padding-block: --spacing(4);
        }
        .card-actions {
            @apply
                flex
                flex-wrap
                gap-3
            ;
        }
        .card-footer {
            @apply
                flex
                justify-between
                items-center
                border-t
                border-base
                px-6
                py-4
            ;
        }
        .alert {
            @apply
                rounded-none
                shadow-none
            ;
        }
    }
    .card-group {
        @apply
            flex
        ;
        .card {
            @apply
                rounded-none
            ;
        }
        .card:is(:first-child) {
            @apply
                rounded-l
            ;
        }
        .card:is(:last-child) {
            @apply
                rounded-r
            ;
        }
    }
}