@layer components {
    .checkbox {
        appearance: none;
        cursor: pointer;
        /* dimensions */
        block-size: var(--checkbox-size);
        min-inline-size: var(--checkbox-size);

        /* colors */
        border: 1px solid var(--checkbox-border);
        border-radius: var(--radius-sm);
        outline: var(--checkbox-focus);
        outline-offset: 0px;
        background-color: var(--checkbox-bg);
        box-shadow: var(--shadow-xs);

        /* modifiers */
        --checkbox-size: --spacing(4.5);
        --checkbox-bg: var(--color-neutral-50);
        --checkbox-border: color-mix(in oklab, var(--color-black) 15%, transparent);
        --checkbox-focus: 0px solid var(--color-blue-200);

        /* animation */
        transition-property: background-color;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        &:hover {
            --checkbox-bg: var(--color-neutral-100);
        }
        &:active {
            --checkbox-bg: var(--color-neutral-200);
        }

        &::before {
            content: "";
            opacity: 0;
            display: block;
            block-size: 100%;
            inline-size: 100%;
            background-color: var(--color-white);
            /* background-color: red; */
            clip-path: polygon(90% 26%, 41% 90%, 10% 54%, 21% 42%, 40% 65%, 79% 15%);

            /* animation */
            transition-property: opacity;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        /* indeterminate */
        &:indeterminate {
            &::before {
                clip-path: polygon(10% 40%, 90% 40%, 90% 60%, 10% 60%);
            }
        }

        &:checked, &:indeterminate {
            background-color: var(--color-blue-400);

            &::before {
                opacity: 1;
            }
        }

        /* disabled */
        &:is(:disabled, [disabled]) {
            cursor: not-allowed;
            /* colors */
            background-color: var(--color-neutral-200);
            box-shadow: none;

            &:checked {
                background-color: var(--color-neutral-300);
    
                &::before {
                    background-color: var(--color-neutral-100);
                }
            }

            label:has(&) {
                color: var(--color-neutral-400);
            }
        }

        /* focus */
        &:focus-visible {
            outline-width: 2px;
            border-color: var(--color-blue-400);
        }

        /* enclosing label */
        label:has(&) {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: --spacing(2);
        }
    }

    .checkbox-inline {
        display: flex;
        flex-direction: row;
        gap: --spacing(4);
    }

    .checkbox-list {
        display: flex;
        flex-direction: column;
        gap: --spacing(2);
    }

    /* variations */
    .checkbox-outline,
    .checkbox-outline-bold {
        /* colors */
        border-color: color-mix(in oklab, var(--color-black) 25%, transparent);
        box-shadow: none;
        background-color: transparent;

        &:hover {
            border-color: color-mix(in oklab, var(--color-black) 35%, transparent);
        }
        &:active {
            border-color: color-mix(in oklab, var(--color-black) 45%, transparent);
        }

        &:is(:disabled, [disabled]) {
            border-color: color-mix(in oklab, var(--color-black) 10%, transparent);
            background-color: transparent;

            &:checked, &:indeterminate {
                border-color: color-mix(in oklab, var(--color-black) 10%, transparent);
                background-color: transparent;
    
                &::before {
                    background-color: var(--color-neutral-300);
                }
            }
        }

        &:checked, &:indeterminate {
            border-color: var(--color-blue-400);
            background-color: transparent;

            &::before {
                background-color: var(--color-blue-400);
            }
        }
    }

    .checkbox-outline-bold {
        border-width: 2px;
    }

    .checkbox-solid {
        padding: --spacing(0.25);
        /* colors */
        border: none;
        box-shadow: none;
        --checkbox-bg: var(--color-neutral-100);
        &:hover {
            --checkbox-bg: var(--color-neutral-200);
        }
        &:active {
            --checkbox-bg: var(--color-neutral-300);
        }
    }

    .checkbox-invalid {
        &:not(:checked) {
            /* colors */
            border: 1px solid var(--color-red-400);
            background-color: var(--color-red-50);
        }

        .form-field:has(&:checked) .invalid {
            opacity: 0;
        }
    }

    /* sizes */
    .checkbox-xs {
        --checkbox-size: --spacing(3.5);
    }

    .checkbox-sm {
        --checkbox-size: --spacing(4);
    }

    .checkbox-lg {
        --checkbox-size: --spacing(6);
    }

    .checkbox-xl {
        --checkbox-size: --spacing(7);
    }
}