@layer components {
    .divider {
        @apply
            flex
            flex-row
            items-center
            whitespace-nowrap
        ;

        &:before,
        &:after {
            @apply
                content-['']
                border-b
                border-(--divider-color)
                h-0.25
                grow
        }
        &:not(:empty) {
            @apply gap-4;
        }
        --divider-border: var(--divider-color-modifier, var(--divider-color));
        --divider-color: var(--color-base);
    }
    .divider-dashed {
        &:before,
        &:after {
            @apply border-dashed;
        }
    }
    .divider-dotted {
        &:before,
        &:after {
            @apply border-dotted;
        }
    }
    .divider-solid {
        &:before,
        &:after {
            @apply border-solid;
        }
    }
    .divider-neutral {
        --divider-color: var(--color-neutral);
    }
    .divider-primary {
        --divider-color: var(--color-primary);
    }
    .divider-secondary {
        --divider-color: var(--color-secondary);
    }
    .divider-info {
        --divider-color: var(--color-info);
    }
    .divider-accent {
        --divider-color: var(--color-accent);
    }
    .divider-success {
        --divider-color: var(--color-success);
    }
    .divider-warning {
        --divider-color: var(--color-warning);
    }
    .divider-danger {
        --divider-color: var(--color-danger);
    }
    .divider-subtle {
        --divider-color-modifier: color-mix(in oklch,var(--divider-color) 20%,white);
    }
}

@utility divider-* {
    &:before,
    &:after {
        border-bottom-width: --value(integer)px;
    }
}