@layer components {
    .divider {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;

        &::before,
        &::after {
            @apply
                content-['']
                border-b-(length:--divider-width)
                border-(--divider-border)
                h-0.25
                w-full
        }
        &:not(:empty) {
            gap: --spacing(4);
        }
        &::before {
            width: var(--divider-start);
        }
        &::after {
            width: var(--divider-end);
        }
        --divider-border: var(--divider-color-modifier, var(--divider-color));
        --divider-color: var(--color-base);
        --divider-width: 1px;
        --divider-start: 100%;
        --divider-end: 100%;
    }
    .divider-horizontal {
        &.divider {
            @apply
                flex-col
                h-full
            ;
            &::before,
            &::after {
                @apply
                    border-s-(length:--divider-width)
                    h-full
                    w-0.25
            }
            &::before {
                height: var(--divider-start);
            }
            &::after {
                height: var(--divider-end);
            }
        }
    }
    .divider-dashed {
        &::before,
        &::after {
            @apply border-dashed;
        }
    }
    .divider-dotted {
        &::before,
        &::after {
            @apply border-dotted;
        }
    }
    .divider-solid {
        &::before,
        &::after {
            @apply border-solid;
        }
    }
    .divider-neutral {
        --divider-color: var(--color-neutral);
    }
    .divider-primary {
        --divider-color: var(--color-primary);
    }
    .divider-secondary {
        --divider-color: var(--color-secondary);
    }
    .divider-info {
        --divider-color: var(--color-info);
    }
    .divider-accent {
        --divider-color: var(--color-accent);
    }
    .divider-success {
        --divider-color: var(--color-success);
    }
    .divider-warning {
        --divider-color: var(--color-warning);
    }
    .divider-danger {
        --divider-color: var(--color-danger);
    }
    .divider-subtle {
        --divider-color-modifier: color-mix(in oklch,var(--divider-color) 20%,white);
    }
    .divider-start {
        --divider-start: calc(var(--spacing) * 10);
    }
    .divider-end {
        --divider-end: calc(var(--spacing) * 10);
    }
    .divider-start-0 {
        &::before {
            @apply content-none;
        }
    }
    .divider-end-0 {
        &::after {
            @apply content-none;
        }
    }
}

@utility divider-start-* {
    --divider-start: --value([*]);
    --divider-start: calc(var(--spacing) * --value(integer));
}

@utility divider-end-* {
    --divider-end: --value([*]);
    --divider-end: calc(var(--spacing) * --value(integer));
}

@utility divider-* {
    --divider-width: --value(integer)px;
}