@layer components {
    .drawer {
        /* modifiers */
        --drawer-w: --spacing(90);
        --drawer-h: calc(var(--drawer-w) / 2);

        /* layout */
        position: fixed;
        z-index: 63;
        visibility: hidden;
        inset-block-start: 0;
        inset-inline-end: 0;

        /* dimensions */
        block-size: 100%;
        inline-size: 100%;

        /* colors */
        background-color: transparent;

        .drawer-toggle input[type="checkbox"] {
            appearance: none;
            display: none;
            visibility: hidden;
        }

        &:has(.drawer-toggle input[type="checkbox"]:checked) {
            visibility: visible;
            background-color: color-mix(in oklab, var(--color-black), transparent 50%);
            /* transition-delay: 1s; */

            .drawer-content {
                transform: none;
            }

            .drawer-toggle {
                cursor: pointer;

                display: block;
                block-size: 100%;
                inline-size: 100%;
            }
        }
        /* animation */
        transition-property: background-color, visibility;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
    }

    .drawer-content {
        position: absolute;
        overflow-y: scroll;
        scrollbar-color: var(--color-base-dense) var(--color-base-background);
        scrollbar-gutter: stable;

        background-color: var(--color-base-background);

        /* animation */
        transition-property: transform;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        /* positioning */
        .drawer-left & {
            inset-block-start: 0;
            inset-inline-start: 0;
            transform: translateX(-100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-right & {
            inset-block-start: 0;
            inset-inline-end: 0;
            transform: translateX(100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-top & {
            inset-block-start: 0;
            inset-inline-start: 0;
            transform: translateY(-100%);

            block-size: var(--drawer-h);
            inline-size: 100%;
        }
        .drawer-bottom & {
            inset-block-end: 0;
            inset-inline-start: 0;
            transform: translateY(100%);

            block-size: var(--drawer-h);
            inline-size: 100%;
        }
    }

    /* size */
    .drawer-sm {
        --drawer-w: --spacing(60);
    }

    .drawer-lg {
        --drawer-w: --spacing(150);
    }

    .drawer-xl {
        --drawer-w: --spacing(210);
    }

    .drawer-2xl {
        --drawer-w: --spacing(280);
    }

    .drawer-3xl {
        --drawer-w: --spacing(360);
    }

    body {
        &:has(.drawer > .drawer-toggle > input[type="checkbox"]:checked) {
            overflow: hidden;
        }
    }
}
