@layer components {
    .drawer {
        /* modifiers */
        --drawer-w: var(--container-md);
        --drawer-h: calc(var(--drawer-w) / 2);

        /* layout */
        position: fixed;
        z-index: 63;
        visibility: hidden;
        inset-block-start: 0;
        inset-inline-end: 0;

        /* dimensions */
        block-size: 100%;
        inline-size: 100%;

        /* colors */
        background-color: transparent;

        .drawer-toggle input[type="checkbox"] {
            appearance: none;
            display: none;
            visibility: hidden;
        }

        &:has(.drawer-toggle input[type="checkbox"]:checked) {
            visibility: visible;
            background-color: color-mix(in oklab, var(--color-black), transparent 50%);

            .drawer-content {
                transform: none;
            }

            .drawer-toggle {
                display: block;
                block-size: 100%;
                inline-size: 100%;
            }
        }
        /* animation */
        transition-property: background-color, visibility;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
    }

    .drawer-content {
        /* layout */
        position: absolute;
        scrollbar-color: var(--color-base-dense) var(--color-base-background);
        scrollbar-gutter: stable;

        /* colors */
        background-color: var(--color-base-background);
        border-color: var(--color-base-border);
        border-style: solid;

        /* animation */
        transition-property: transform;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        /* positioning */
        .drawer-start & {
            inset-block-start: 0;
            inset-inline-start: 0;
            transform: translateX(-100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-end & {
            inset-block-start: 0;
            inset-inline-end: 0;
            transform: translateX(100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-left & {
            inset-block-start: 0;
            left: 0;
            transform: translateX(-100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-right & {
            inset-block-start: 0;
            right: 0;
            transform: translateX(100%);

            block-size: 100%;
            inline-size: var(--drawer-w);
        }
        .drawer-top & {
            inset-block-start: 0;
            inset-inline-start: 0;
            transform: translateY(-100%);

            block-size: var(--drawer-h);
            inline-size: 100%;
        }
        .drawer-bottom & {
            inset-block-end: 0;
            inset-inline-start: 0;
            transform: translateY(100%);

            block-size: var(--drawer-h);
            inline-size: 100%;
        }
    }

    /* size */
    .drawer-3xs {
        --drawer-w: var(--container-3xs);
    }

    .drawer-2xs {
        --drawer-w: var(--container-2xs);
    }

    .drawer-xs {
        --drawer-w: var(--container-xs);
    }

    .drawer-sm {
        --drawer-w: var(--container-sm);
    }

    .drawer-lg {
        --drawer-w: var(--container-lg);
    }

    .drawer-xl {
        --drawer-w: var(--container-xl);
    }

    .drawer-2xl {
        --drawer-w: var(--container-2xl);
    }

    .drawer-3xl {
        --drawer-w: var(--container-3xl);
    }

    .drawer-4xl {
        --drawer-w: var(--container-4xl);
    }

    .drawer-5xl {
        --drawer-w: var(--container-5xl);
    }

    .drawer-6xl {
        --drawer-w: var(--container-6xl);
    }

    .drawer-7xl {
        --drawer-w: var(--container-7xl);
    }
}
