@layer components {
    .dropdown {
        /* modifiers */
        --dropdown-bg: var(--color-base);
        --dropdown-border: var(--color-base-border);

        /* layout */
        position: relative;

        > :where(.dropdown-toggle):is(:focus):not(:focus-visible) + .dropdown-content {
            height: auto;
            visibility: visible;
        }

        > .dropdown-toggle + .dropdown-content {
            height: 0;
            visibility: hidden;
            margin-block: --spacing(1.5);

            &:has(.menu .btn:is(:focus):not(:focus-visible)) {
                height: auto;
                visibility: visible;
            }
        }

        > .dropdown-content {
            /* layout */
            position: absolute;
            inset-block-start: 100%;
            inset-block-end: auto;
            inset-inline-start: 0;
            inset-inline-end: auto;
            z-index: 71;
            display: grid;
            overflow: hidden;

            /* dimensions */

            /* colors */
            background-color: var(--dropdown-bg);
            border: 1px solid var(--dropdown-border);
            border-radius: var(--radius-control);
            box-shadow: var(--shadow-high);

            /* animation */
            @media (prefers-reduced-motion: no-preference) {
                interpolate-size: allow-keywords;
            }
            transition-property: height,visibility;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

            > .menu {
                padding: --spacing(1);
            }
        }

        /* directions */
        &.dropdown-right {
            text-align: right;

            .dropdown-content {
                inset-inline-start: auto;
                inset-inline-end: 0;
            }
        }

        &.dropdown-top {
            .dropdown-content {
                inset-block-start: auto;
                inset-block-end: 100%;
            }
        }
    }
}