@layer components {
    .dropdown {
        position: relative;
        display: inline-block;
        /* this will only activate when the focus is from mouse, not keyboard */
        :where(a,button):is(:focus):not(:focus-visible) ~ ul {
            height: auto;
            visibility: visible;
        }
        ul {
            display: block;
            /* position */
            position: absolute;
            top: 100%;
            bottom: auto;
            left: 0;
            right: auto;
            z-index: 10;
            /* dimensions */
            height: 0;
            visibility: hidden;
            margin-block: --spacing(1);
            max-width: --spacing(48);
            min-width: --spacing(48);
            /* colors */
            box-shadow: var(--shadow-lg);
            border: 1px solid var(--color-neutral-200);
            border-radius: var(--radius-lg);
            background-color: var(--color-white);
            overflow: hidden;
            /* animation */
            @media (prefers-reduced-motion: no-preference) {
                interpolate-size: allow-keywords;
            }
            transition-property: height,visibility;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
            a {
                display: flex;
                justify-content: flex-start;
                border-radius: 0;
            }
        }
        &.dropdown-left ul {
            left: auto;
            right: 0;
        }
        &.dropdown-up .btn ~ ul {
            top: auto;
            bottom: 100%;
        }
    }
}