@layer components {
    .dropdown {
        /* modifiers */
        --dropdown-bg: var(--color-base);
        --dropdown-border: var(--color-base-border);

        /* layout */
        position: relative;

        > :where(.dropdown-toggle):is(:focus):not(:focus-visible) ~ .dropdown-content {
            height: auto;
            visibility: visible;
        }

        > .dropdown-toggle ~ .dropdown-content {
            height: 0;
            visibility: hidden;
            margin-block: --spacing(1.5);

            &.dropdown-open,
            &:has(:focus,:focus-visible) {
                height: auto;
                visibility: visible;
            }
        }

        > .dropdown-content {
            /* layout */
            position: absolute;
            inset-block-start: 100%;
            inset-inline-start: 50%;
            z-index: 71;
            overflow: hidden;

            transform: translateX(-50%);

            /* dimensions */
            inline-size: max-content;

            /* colors */
            background-color: var(--dropdown-bg);
            border: 1px solid var(--dropdown-border);
            border-radius: var(--radius-control);
            box-shadow: var(--shadow-high);

            /* animation */
            @media (prefers-reduced-motion: no-preference) {
                interpolate-size: allow-keywords;
            }
            transition-property: height,visibility;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        /* directions */
        &.dropdown-start {
            .dropdown-content {
                inset-inline-start: 0;
                inset-inline-end: auto;

                transform: translateX(0%);
            }
        }

        &.dropdown-end {
            .dropdown-content {
                inset-inline-start: auto;
                inset-inline-end: 0;

                transform: translateX(0%);
            }
        }

        &.dropdown-left {
            .dropdown-content {
                left: 0;
                right: auto;
                inset-inline-start: auto;

                transform: translateX(0%);
            }
        }

        &.dropdown-right {
            .dropdown-content {
                left: auto;
                right: 0;
                inset-inline-start: auto;

                transform: translateX(0%);
            }
        }

        &.dropdown-up {
            .dropdown-content {
                inset-block-start: auto;
                inset-block-end: 100%;
            }
        }
    }
}