@layer components {
    .form {
        .form-field {
            /* layout */
            display: grid;
            grid-template-columns: 1fr;
            align-content: start;
            align-items: start;
            gap: --spacing(3);

            /* modifiers */
            --field-cols: 1;

            &.field-row {
                --field-cols: 2;
                grid-template-columns: minmax(--spacing(16), --spacing(32)) 1fr;
            }
        }
        .form-field:has(+ .form-field) {
            margin-block-end: --spacing(4);
        }

        .fieldset {
            /* dimension */
            padding-block: --spacing(4);
            padding-inline: --spacing(4);

            /* color */
            background-color: var(--color-neutral-100);
            border-radius: var(--radius-md);
            border: 1px solid var(--color-neutral-300);
            box-shadow: var(--shadow-xs);

            legend {
                padding-inline: --spacing(1);

                color: var(--color-neutral-500);
                font-weight: var(--font-weight-medium);
                font-size: var(--text-lg);
                line-height: var(--text-lg--line-height);
            }

            &.fieldset-outline {
                background: none;
                box-shadow: none;

                legend {
                    padding-inline: --spacing(0);
                }
            }
            &.fieldset-solid {
                border-width: 0px;
                background-color: var(--color-neutral-200);
            }
        }

        label {
            --label-disabled: var(--color-neutral-400);
        }

        .label {
            display: flex;
            align-items: center;
            gap: --spacing(1);

            /* text */
            color: var(--color-neutral-500);
            font-weight: var(--font-weight-medium);

            svg, img, i {
                block-size: 1.25em;
                min-inline-size: 1.25em;
            }
        }

        /* show invalid class when input invalid */
        .invalid {
            opacity: 0;

            :where(.form-field:has(:invalid, [class*="-invalid"])) & {
                opacity: 1;
            }

            /* animation */
            transition-property: opacity;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }
    }
}