@layer components {
    ul.menu {
        @media (prefers-reduced-motion: no-preference) {
            interpolate-size: allow-keywords;
        }

        &, ul {
            /* modifiers */
            --menu-border: var(--color-base-border);

            /* layout */
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: --spacing(1);

            /* dimensions */
            inline-size: var(--menu-size, auto);

            /* animation */
            transition-property: height, visibility;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
                    /* transition-duration: 1s; */
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        li {
            display: grid;
            align-content: start;
            flex: none;

            .menu-toggle::after {
                /* icon */
                content: "";
                mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>');
                mask-repeat: no-repeat;
                mask-type: alpha;
                background-color: currentColor;
                flex: none;
                block-size: 1.2em;
                inline-size: 1.2em;

                /* animation */
                transition-property: rotate;
                transition-duration: var(--tt-duration, var(--default-transition-duration));
                transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
            }

            .menu-toggle ~ ul {
                visibility: hidden;
                /* opacity: 1; */
                height: 0;
            }

            &:has(.menu-toggle:focus:not(:focus-visible))
            {
                > ul {
                    /* layout */
                    visibility: visible;
                    /* opacity: 1; */
                    height: auto;
                }

                > .menu-toggle::after {
                    rotate: 180deg;
                }
            }

            .menu-title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: --spacing(2);

                /* typography */
                font-weight: var(--font-weight-medium);
                color: color-mix(in oklab, currentColor, transparent 40%);
                text-wrap: wrap;

                /* dimensions */
                min-block-size: --spacing(9);
                padding: --spacing(2.5);

                /* animation */
                transition-property: color;
                transition-duration: var(--tt-duration, var(--default-transition-duration));
                transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

                /* icons */
                svg, img, i {
                    block-size: 1.25em;
                    min-inline-size: 1.25em;
                }
            }

            ul {
                --menu-size: auto;

                /* dimensions */
                padding: --spacing(0);

                li {
                    padding-inline-start: --spacing(2);
                    margin-inline-start: --spacing(5);

                    border-inline-start: 1px solid var(--menu-border, var(--color-base-border));

                    @media (hover: hover) {
                        &:has(> :not(ul):hover) {
                            --menu-border: var(--color-accent);
                        }
                    }

                    /* animation */
                    transition-property: border;
                    transition-duration: var(--tt-duration, var(--default-transition-duration));
                    transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
                }

                li > :not(ul, :hover) {
                    opacity: 0.7;
                }
            }
        }
    }

    /* Sizes */
    ul.menu-3xs {
        --menu-size: calc(var(--container-3xs) / 2);
    }
    ul.menu-2xs {
        --menu-size: calc(var(--container-2xs) / 2);
    }
    ul.menu-xs {
        --menu-size: calc(var(--container-xs) / 2);
    }
    ul.menu-sm {
        --menu-size: calc(var(--container-sm) / 2);
    }
    ul.menu-md {
        --menu-size: calc(var(--container-md) / 2);
    }
    ul.menu-lg {
        --menu-size: calc(var(--container-lg) / 2);
    }
    ul.menu-xl {
        --menu-size: calc(var(--container-xl) / 2);
    }
    ul.menu-2xl {
        --menu-size: calc(var(--container-2xl) / 2);
    }
    ul.menu-3xl {
        --menu-size: calc(var(--container-3xl) / 2);
    }
    ul.menu-4xl {
        --menu-size: calc(var(--container-4xl) / 2);
    }
    ul.menu-5xl {
        --menu-size: calc(var(--container-5xl) / 2);
    }
    ul.menu-6xl {
        --menu-size: calc(var(--container-6xl) / 2);
    }
    ul.menu-7xl {
        --menu-size: calc(var(--container-7xl) / 2);
    }
}

@utility menu-inline {
    display: flex;
    flex-flow: row wrap;
}