@layer components {
    .select {
        /* modifiers */
        --select-size: --spacing(10);
        --select-bg: var(--select-color, var(--color-base));
        --select-hover-bg: var(--color-neutral-100);
        --select-active-bg: var(--color-neutral-200);
        --select-border: color-mix(in oklab, var(--color-black) 15%, transparent);
        --select-focus-outline: var(--color-blue-200);
        --select-focus-border: var(--color-blue-400);
        --select-disabled-bg: var(--color-neutral-200);
        --select-invalid-bg: var(--color-red-50);
        --select-invalid-border: var(--color-red-400);
        --select-outline-border: var(--color-neutral-300);
        --select-outline-hover-border: var(--color-neutral-400);
        --select-outline-active-border: var(--color-neutral-500);
        --select-outline-disabled: var(--color-neutral-200);
        --select-solid-bg: var(--color-neutral-100);
        --select-solid-hover-bg: var(--color-neutral-200);
        --select-solid-active-bg: var(--color-neutral-300);
        --select-text: var(--color-neutral-800);
        --placeholder-color: var(--color-neutral-400);

        /* layout */
        appearance: none;
        cursor: pointer;

        /* dimensions */
        block-size: var(--select-size);
        padding-inline: --spacing(3) --spacing(8);

        /* colors */
        border: 1px solid var(--select-border);
        border-radius: var(--radius-input);
        outline: 0px solid var(--select-focus-outline);
        outline-offset: 0px;
        background-color: var(--select-bg);
        box-shadow: var(--shadow-low);
        color: var(--select-text);

        /* typography */
        font-size: calc(var(--select-size) * 0.4);

        /* animation */
        transition-property: background-color, border-color, box-shadow;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        /* transition-duration: 2s; */
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        /* dropdown arrow */
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" /></svg>');
        background-position: right 0.5rem center;
        background-repeat: no-repeat;
        background-size: 1.25em;

        /* hover */
        &:hover {
            --select-bg: var(--select-hover-bg);
            border-color: var(--select-outline-hover-border);
        }

        /* active */
        &:active {
            --select-bg: var(--select-active-bg);
        }

        /* disabled */
        &:is(:disabled, [disabled]) {
            /* layout */
            cursor: not-allowed;
            opacity: 0.7;

            /* colors */
            background-color: var(--select-disabled-bg);
            box-shadow: none;
            border-color: var(--select-outline-disabled);
            color: var(--select-disabled);
        }

        /* focus */
        &:focus-visible {
            /* colors */
            outline-width: 2px;
            border-color: var(--select-focus-border);
        }

        /* validation */
        &.select-validate:invalid,
        &.select-invalid {
            /* colors */
            border: 1px solid var(--select-invalid-border);
            background-color: var(--select-invalid-bg);
        }
    }

    /* variations */
    .select-outline,
    .select-outline-bold {
        /* colors */
        border-color: var(--select-outline-border);
        box-shadow: none;
        background: none;

        &:hover {
            border-color: var(--select-outline-hover-border);
        }
        &:active {
            border-color: var(--select-outline-active-border);
        }

        &:is(:disabled, [disabled]) {
            border-color: var(--select-outline-disabled);
            background: none;
        }
    }

    .select-outline-bold {
        border-width: 2px;
    }

    .select-clear {
        /* colors */
        border-color: transparent;
        box-shadow: none;
        background: none;
    }

    .select-solid {
        /* colors */
        border: none;
        box-shadow: none;
        --select-bg: var(--select-solid-bg);

        /* hover */
        &:hover {
            --select-bg: var(--select-solid-hover-bg);
        }

        /* active */
        &:active {
            --select-bg: var(--select-solid-active-bg);
        }
    }

    /* colors */
    

    /* sizes */
    .select-xs {
        --select-size: --spacing(8);
    }
    .select-sm {
        --select-size: --spacing(9);
    }
    .select-lg {
        --select-size: --spacing(11);
    }
    .select-xl {
        --select-size: --spacing(12);
    }
    .select-2xl {
        --select-size: --spacing(13);
    }
}