/*
Spinner component styles.

@description Provides a flexible, customizable loading spinner component with various sizes, colors, and styles. Supports different visual variants for indicating loading or processing states.

@layer components - Applies styles at the component layer of the CSS cascade.

@property {string} --spinner-size - Controls the overall size of the spinner
@property {string} --spinner-border-width - Controls the thickness of the spinner's border
@property {string} --spinner-border - Color of the spinner's circular track
@property {string} --spinner-accent - Color of the spinner's moving part that indicates animation
*/
@layer components {
    .spinner {
        /* modifiers */
        --spinner-size: --spacing(5);
        --spinner-border-width: 2px;

        /* layout */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        /* dimension */
        block-size: var(--spinner-size);
        inline-size: var(--spinner-size);

        /* color */
        border: var(--spinner-border-width) solid var(--spinner-border, var(--color-base-border));
        border-top-color: var(--spinner-accent, var(--color-base-dense));
        border-radius: calc(infinity * 1px);

        /* animation */
        animation: spin 0.8s linear infinite;

        label:has(&) {
            display: inline-flex;
            align-items: center;
            gap: --spacing(2);
        }
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    /* variants */
    .spinner-clear {
        --spinner-border: transparent;
    }

    .spinner-solid {
        --spinner-border-width: calc(var(--spinner-size) / 2);
    }

    .spinner-primary {
        --spinner-accent: var(--color-primary);
    }

    .spinner-accent {
        --spinner-accent: var(--color-accent);
    }

    .spinner-success {
        --spinner-accent: var(--color-success);
    }

    .spinner-danger {
        --spinner-accent: var(--color-danger);
    }

    .spinner-warning {
        --spinner-accent: var(--color-warning);
    }

    /* sizes */
    .spinner-xs {
        --spinner-size: --spacing(3);
    }
    
    .spinner-sm {
        --spinner-size: --spacing(4);
    }
    
    .spinner-lg {
        --spinner-size: --spacing(7);
        --spinner-border-width: 3px;
    }
    
    .spinner-xl {
        --spinner-size: --spacing(9);
        --spinner-border-width: 4px;
    }
}