@layer components {
    .status {
        /* layout */
        display: inline-block;
        aspect-ratio: 1;

        /* dimension */
        block-size: var(--status-size);
        inline-size: var(--status-size);
        border-radius: var(--radius-control);

        /* color */
        background-color: var(--status-bg);

        /* modifiers */
        --status-size: --spacing(3);
        --status-bg: var(--color-base-medium);
    }

    /* variants */
    /* circle */
    .status-round {
        border-radius: calc(infinity * 1px);
    }

    /* outline */
    .status-outline,
    .status-outline-bold {
        border: 1px solid var(--status-bg);
        background: none;
    }
    .status-outline-bold {
        border-width: 2px;
    }

    .status-ring {
        outline: 2px solid var(--status-ring, var(--color-white));
    }

    /* colors */
    .status-primary {
        --status-bg: var(--color-primary);
    }
    .status-accent {
        --status-bg: var(--color-accent);
    }
    .status-warning {
        --status-bg: var(--color-warning);
    }
    .status-danger {
        --status-bg: var(--color-danger);
    }
    .status-success {
        --status-bg: var(--color-success);
    }
    .status-ring-primary {
        --status-ring: var(--color-primary);
    }
    .status-ring-accent {
        --status-ring: var(--color-accent);
    }
    .status-ring-warning {
        --status-ring: var(--color-warning);
    }
    .status-ring-danger {
        --status-ring: var(--color-danger);
    }
    .status-ring-success {
        --status-ring: var(--color-success);
    }

    /* sizes */
    .status-xs {
        &:not(.status-round) {
            border-radius: var(--radius-xs);
        }
        --status-size: --spacing(2);
    }

    .status-sm {
        &:not(.status-round) {
            border-radius: var(--radius-xs);
        }
        --status-size: --spacing(2.5);
    }

    .status-lg {
        --status-size: --spacing(4);
    }

    .status-xl {
        --status-size: --spacing(5);
    }
}