@layer components {
    .switch {
        appearance: none;
        cursor: pointer;
        position: relative;
        /* dimensions */
        block-size: var(--switch-height);
        min-inline-size: var(--switch-width);

        /* colors */
        border: var(--switch-border);
        border-radius: var(--switch-height);
        outline: var(--switch-focus);
        outline-width: 0px;
        background-color: var(--switch-bg);
        box-shadow: var(--shadow-xs);

        /* modifiers */
        --switch-height: --spacing(4.5);
        --switch-width: calc(var(--switch-height) * 1.8);
        --switch-thumb-start: --spacing(0.3);
        --switch-thumb-size: calc(var(--switch-height) - --spacing(1));
        --switch-bg: var(--color-neutral-200);
        --switch-border: 1px solid color-mix(in oklab, var(--color-black) 15%, transparent);
        --switch-focus: 2px solid var(--color-blue-200);

        /* animation */
        transition-property: background-color;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));

        &::before {
            content: "";
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: var(--switch-thumb-start);
            transform: translateY(-50%);
            block-size: var(--switch-thumb-size);
            inline-size: var(--switch-thumb-size);
            border-radius: calc(infinity * 1px);
            background-color: var(--color-white);
            box-shadow: var(--shadow-sm);

            /* animation */
            transition-property: transform;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        &:checked {
            background-color: var(--color-blue-400);

            &::before {
                transform: translate(calc(var(--switch-width) - var(--switch-thumb-size) - --spacing(1)), -50%);
            }
        }

        /* disabled */
        &:is(:disabled, [disabled]) {
            cursor: not-allowed;
            /* colors */
            border-color: var(--color-neutral-300);
            background-color: var(--color-neutral-200);
            box-shadow: none;

            &::before {
                background-color: var(--color-neutral-300);
                box-shadow: none;
            }
        }

        /* focus */
        &:focus-visible {
            outline-width: 2px;
            border-color: var(--color-blue-400);
        }

        /* enclosing label */
        label:has(&) {
            display: inline-flex;
            align-items: center;
            gap: --spacing(2);
        }
    }

    .switch-inline {
        display: flex;
        flex-direction: row;
        gap: --spacing(4);
    }

    .switch-list {
        display: flex;
        flex-direction: column;
        gap: --spacing(2);
    }

    /* variations */
    .switch-clear {
        /* colors */
        border: none;
        box-shadow: none;
        background-color: transparent;

        &::before {
            --switch-thumb-start: --spacing(0.5);
        }

        &:checked {
            background-color: var(--color-blue-400);
        }
    }

    .switch-solid {
        /* colors */
        border: none;
        box-shadow: none;
        background-color: var(--color-neutral-200);

        &::before {
            --switch-thumb-start: --spacing(0.5);
        }

        &:checked {
            background-color: var(--color-blue-400);
        }
    }

    .switch-invalid {
        &:not(:checked) {
            /* colors */
            border: 1px solid var(--color-red-400);
            background-color: var(--color-red-100);
        }

        .form-field:has(&:checked) .invalid {
            opacity: 0;
        }
    }

    /* sizes */
    .switch-xs {
        --switch-height: --spacing(3);
    }

    .switch-sm {
        --switch-height: --spacing(3.5);
    }

    .switch-lg {
        --switch-height: --spacing(6);
    }

    .switch-xl {
        --switch-height: --spacing(7);
    }
}
