@layer components {
    .tabs {
        /* layout */
        display: flex;
        flex-wrap: wrap;
        gap: --spacing(2);

        .tab {
            /* functionality */
            input[type="radio"] {
                display: none;
                visibility: hidden;
            }
            &:has(input:checked) {
                & + .tab-content {
                    display: block;
                    inline-size: 100%;
                }
            }
        }

        .tab-content {
            display: none;
            order: calc(infinity);
        }
    }
}