@layer components {
    .table {
        /* modifiers */
        --table-header-bg: var(--color-base-airy);
        --table-row-border: 1px solid var(--color-base-border);

        /* typography */
        text-align: left;
        color: var(--color-base-foreground);

        thead {
            tr {
                th {
                    background-color: var(--table-header-bg);
                    font-weight: var(--font-weight-semibold);
                }
            }
        }

        tbody {
            tr {
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--table-row-hover-bg);
                    }
                }

                &:nth-of-type(odd):not(:hover) {
                    background-color: var(--table-striped-bg);
                }
            }
        }

        :where(thead tr,tbody tr:not(:last-child)) {
            border-bottom: var(--table-row-border);
        }

        :where(th,td) {
            padding-block: --spacing(4);
            padding-inline: --spacing(4);
            vertical-align: middle;
        }
    }

    /* variants */
    .table-hover {
        --table-row-hover-bg: var(--color-base);
    }

    .table-striped {
        --table-striped-bg: var(--color-base);
    }

    .table-borderless {
        --table-row-border: none;
        --table-border: none;
    }

    .table-compact {
        :where(th,td) {
            padding-block: --spacing(2);
            padding-inline: --spacing(2);
        }
    }
}