@layer components {
    .textarea {
        /* dimensions */
        block-size: --spacing(24);
        padding-block: --spacing(2);
        padding-inline: --spacing(4);

        /* colors */
        border: var(--textarea-border);
        border-radius: var(--radius-md);
        outline: var(--textarea-outline);
        background-color: var(--textarea-bg);
        box-shadow: var(--shadow-xs);

        /* text */
        color: var(--textarea-text);

        &::placeholder {
            font-style: italic;
        }

        /* modifiers */
        --textarea-bg: var(--color-neutral-50);
        --textarea-border: 1px solid var(--color-neutral-300);
        --textarea-outline: 0px solid var(--color-blue-200);
        --textarea-text: var(--color-neutral-800);

        /* read only */
        &:read-only:not(:disabled, [disabled]) {
            background-color: var(--color-neutral-200);
        }

        /* disabled */
        &:is(:disabled, [disabled]) {
            cursor: not-allowed;
            /* colors */
            background-color: var(--color-neutral-200);
            box-shadow: none;
            color: color-mix(in oklab, var(--textarea-text) 60%, transparent);
        }

        /* focus */
        &:focus-visible {
            outline-width: 2px;
            border-color: var(--color-blue-400);
            background-color: var(--color-white);
        }
    }

    /* variations */
    .textarea-clear {
        /* colors */
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .textarea-solid {
        /* colors */
        border: none;
        box-shadow: none;
        background-color: var(--color-neutral-100);
    }

    .textarea-validate:invalid,
    .textarea-invalid {
        border-color: var(--color-red-400);
        outline-width: 2px;
        outline-style: solid;
        outline-color: var(--color-red-200);

        & ~ .invalid-msg {
            opacity: 1;
        }
    }

    /* sizes */
    .textarea-xs {
        font-size: var(--text-xs);
        line-height: var(--text-xs--line-height);
    }

    .textarea-sm {
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
    }

    .textarea-lg {
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
    }

    .textarea-xl {
        font-size: var(--text-xl);
        line-height: var(--text-xl--line-height);
    }
}