/*
Tooltip component styles.

@description Provides a flexible, customizable tooltip component with various positions, sizes, and colors. Supports different arrow placements and directional variants for contextual information display.

@layer components - Applies styles at the component layer of the CSS cascade.

@property {string} --tooltip-size - Controls the overall size of the tooltip which affects font size
@property {string} --tooltip-margin - Controls the spacing between the tooltip and its parent element
@property {string} --tooltip-arrow-size - Controls the size of the tooltip's arrow
@property {string} --tooltip-arrow-margin - Controls the spacing between the tooltip arrow and the tooltip content
@property {string} --tooltip-bg - Background color of the tooltip
@property {string} --tooltip-border - Border color of the tooltip
@property {string} --tooltip-shadow - Shadow effect applied to the tooltip
@property {string} --tooltip-fg - Text color of the tooltip content
*/
@layer components {
    .tooltip {
        /* modifiers */
        --tooltip-size: --spacing(6);
        --tooltip-margin: --spacing(2.7);
        --tooltip-arrow-size: --spacing(2.5);
        --tooltip-arrow-margin: --spacing(1.5);
        --tooltip-bg: var(--color-base);
        --tooltip-border: var(--color-base-border);
        --tooltip-shadow: var(--tt-ring-shadow), var(--shadow-rise);

        /* layout */
        position: relative;
        overflow: visible;

        @media (hover: hover) {
            &:hover {
                &::before, &::after {
                    /* transition */
                    content-visibility: visible;
                    opacity: 1;
                }
            }
        }

        &:where(:not(.open))::before,
        &:where(:not(.open))::after {
            /* transition */
            content-visibility: hidden;
            opacity: 0;
        }

        &::before, &::after {
            position: absolute;

            /* animation */
            transition-property: content-visibility, opacity;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-behavior: allow-discrete;
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        /* content */
        &::before {
            /* layout */
            content: attr(data-tooltip);
            z-index: 31;

            /* dimensions */
            padding-block: --spacing(1);
            padding-inline: --spacing(2);
            width: fit-content;

            /* color */
            background-color: var(--tooltip-bg);
            border-radius: var(--radius-input);
            box-shadow: var(--tooltip-shadow);
            color: var(--tooltip-fg, var(--color-base-foreground));

            /* typography */
            font-size: calc(var(--tooltip-size) * 0.6);
            line-height: 1;
        }

        /* arrow */
        &::after {
            /* layour */
            content: "";
            z-index: 32;
            display: block;

            /* dimensions */
            width: var(--tooltip-arrow-size);
            height: var(--tooltip-arrow-size);

            /* color */
            border: 1px solid var(--tooltip-border);
            background-color: var(--tooltip-bg);
            box-shadow: var(--shadow-rise);
            clip-path: polygon(0 0, 0 100%, 100% 0);
        }
    }

    /* colors */
    .tooltip-primary {
        --tooltip-bg: var(--color-primary);
        --tooltip-fg: var(--color-primary-content);
        --tooltip-border: transparent;
        --tooltip-shadow: var(--shadow-rise);
    }
    .tooltip-accent {
        --tooltip-bg: var(--color-accent);
        --tooltip-fg: var(--color-accent-content);
        --tooltip-border: transparent;
        --tooltip-shadow: var(--shadow-rise);
    }
    .tooltip-success {
        --tooltip-bg: var(--color-success);
        --tooltip-fg: var(--color-success-content);
        --tooltip-border: transparent;
        --tooltip-shadow: var(--shadow-rise);
    }
    .tooltip-warning {
        --tooltip-bg: var(--color-warning);
        --tooltip-fg: var(--color-warning-content);
        --tooltip-border: transparent;
        --tooltip-shadow: var(--shadow-rise);
    }
    .tooltip-danger {
        --tooltip-bg: var(--color-danger);
        --tooltip-fg: var(--color-danger-content);
        --tooltip-border: transparent;
        --tooltip-shadow: var(--shadow-rise);
    }

    /* sizes */
    .tooltip-xs {
        --tooltip-size: --spacing(4);
    }
    .tooltip-sm {
        --tooltip-size: --spacing(5);
    }
    .tooltip-lg {
        --tooltip-size: --spacing(7);
    }
    .tooltip-xl {
        --tooltip-size: --spacing(8);
    }
    .tooltip-2xl {
        --tooltip-size: --spacing(9);
    }

    /* arrow positioning */
    .tooltip:where(
        .tooltip-top,
        .tooltip-top-start,
        .tooltip-top-end
    )::after {
        /* arrow down */
        rotate: 225deg;
    }

    .tooltip:where(
        .tooltip-bottom,
        .tooltip-bottom-start,
        .tooltip-bottom-end
    )::after {
        /* arrow up */
        rotate: 45deg;
    }

    .tooltip:where(
        .tooltip-left,
        .tooltip-left-start,
        .tooltip-left-end
    )::after {
        /* arrow right */
        rotate: 135deg;
    }

    .tooltip:where(
        .tooltip-right,
        .tooltip-right-start,
        .tooltip-right-end
    )::after {
        /* arrow left */
        rotate: 315deg;
    }

    /* positioning */
    .tooltip-top {
        &::before {
            inset-block-end: calc(100% + var(--tooltip-margin));
            inset-inline-start: 50%;
            transform: translateX(-50%);
        }

        &::after {
            inset-block-end: calc(100% + var(--tooltip-arrow-margin));
            inset-inline: 0;
            margin-inline: auto;
        }
    }

    .tooltip-top-start {
        &::before {
            inset-block-end: calc(100% + var(--tooltip-margin));
            inset-inline-start: 0;
        }

        &::after {
            inset-block-end: calc(100% + var(--tooltip-arrow-margin));
            inset-inline-start: var(--tooltip-margin);
        }
    }

    .tooltip-top-end {
        &::before {
            inset-block-end: calc(100% + var(--tooltip-margin));
            inset-inline-end: 0;
        }

        &::after {
            inset-block-end: calc(100% + var(--tooltip-arrow-margin));
            inset-inline-end: var(--tooltip-margin);
        }
    }

    .tooltip-bottom {
        &::before {
            inset-block-start: calc(100% + var(--tooltip-margin));
            inset-inline-start: 50%;
            transform: translateX(-50%);
        }

        &::after {
            inset-block-start: calc(100% + var(--tooltip-arrow-margin));
            inset-inline: 0;
            margin-inline: auto;
        }
    }

    .tooltip-bottom-start {
        &::before {
            inset-block-start: calc(100% + var(--tooltip-margin));
            inset-inline-start: 0;
        }

        &::after {
            inset-block-start: calc(100% + var(--tooltip-arrow-margin));
            inset-inline-start: var(--tooltip-margin);
        }
    }

    .tooltip-bottom-end {
        &::before {
            inset-block-start: calc(100% + var(--tooltip-margin));
            inset-inline-end: 0;
        }

        &::after {
            inset-block-start: calc(100% + var(--tooltip-arrow-margin));
            inset-inline-end: var(--tooltip-margin);
        }
    }

    .tooltip-left {
        &::before {
            inset-inline-end: calc(100% + var(--tooltip-margin));
            inset-block-start: 50%;
            transform: translateY(-50%);
        }

        &::after {
            inset-inline-end: calc(100% + var(--tooltip-arrow-margin));
            inset-block: 0;
            margin-block: auto;
        }
    }

    .tooltip-left-start {
        &::before {
            inset-block-start: 0;
            inset-inline-end: calc(100% + var(--tooltip-margin));
        }

        &::after {
            inset-block-start: var(--tooltip-arrow-margin);
            inset-inline-end: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip-left-end {
        &::before {
            inset-block-end: 0;
            inset-inline-end: calc(100% + var(--tooltip-margin));
        }

        &::after {
            inset-block-end: var(--tooltip-arrow-margin);
            inset-inline-end: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip-right {
        &::before {
            inset-inline-start: calc(100% + var(--tooltip-margin));
            inset-block-start: 50%;
            transform: translateY(-50%);
        }

        &::after {
            inset-inline-start: calc(100% + var(--tooltip-arrow-margin));
            inset-block: 0;
            margin-block: auto;
        }
    }

    .tooltip-right-start {
        &::before {
            inset-block-start: 0;
            inset-inline-start: calc(100% + var(--tooltip-margin));
        }

        &::after {
            inset-block-start: var(--tooltip-arrow-margin);
            inset-inline-start: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip-right-end {
        &::before {
            inset-block-end: 0;
            inset-inline-start: calc(100% + var(--tooltip-margin));
        }

        &::after {
            inset-block-end: var(--tooltip-arrow-margin);
            inset-inline-start: calc(100% + var(--tooltip-arrow-margin));
        }
    }
}