@layer components {
    .tooltip {
        position: relative;
        overflow: visible;

        /* modifiers */
        --tooltip-margin: --spacing(2.5);
        --tooltip-arrow-size: --spacing(3);
        --tooltip-arrow-margin: --spacing(1.5);
        --tooltip-bg: var(--color-white);
        --tooltip-border: var(--color-neutral-100);

        &:hover::before,
        &:hover::after {
            /* transition */
            content-visibility: visible;
            opacity: 1;
        }

        &:where(:not(.open))::before,
        &:where(:not(.open))::after {
            /* transition */
            content-visibility: hidden;
            opacity: 0;
        }

        &::before, &::after {
            position: absolute;

            /* animation */
            transition-property: content-visibility, opacity;
            transition-duration: var(--tt-duration, var(--default-transition-duration));
            transition-behavior: allow-discrete;
            transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        }

        &::before {
            content: attr(data-tooltip);
            z-index: 31;
            padding-block: --spacing(1);
            padding-inline: --spacing(2);
            width: fit-content;
            background-color: var(--tooltip-bg);
            border: 1px solid var(--tooltip-border);
            border-radius: var(--radius-sm);
            box-shadow: var(--shadow-md);
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
        }

        &::after {
            /* arrow */
            content: "";
            z-index: 32;
            display: block;
            width: var(--tooltip-arrow-size);
            height: var(--tooltip-arrow-size);
            border: 1px solid var(--tooltip-border);
            background-color: var(--tooltip-bg);
            box-shadow: var(--shadow-md);
            clip-path: polygon(0 0, 0 100%, 100% 0);
        }
    }

    .tooltip:where(
        .tooltip-top,
        .tooltip-top-start,
        .tooltip-top-end
    )::after {
        /* arrow down */
        rotate: 225deg;
    }

    .tooltip:where(
        .tooltip-bottom,
        .tooltip-bottom-start,
        .tooltip-bottom-end
    )::after {
        /* arrow up */
        rotate: 45deg;
    }

    .tooltip:where(
        .tooltip-left,
        .tooltip-left-start,
        .tooltip-left-end
    )::after {
        /* arrow right */
        rotate: 135deg;
    }

    .tooltip:where(
        .tooltip-right,
        .tooltip-right-start,
        .tooltip-right-end
    )::after {
        /* arrow left */
        rotate: 315deg;
    }

    .tooltip.tooltip-top {
        &::before {
            bottom: calc(100% + var(--tooltip-margin));
            left: 50%;
            transform: translateX(-50%);
        }

        &::after {
            bottom: calc(100% + var(--tooltip-arrow-margin));
            inset-inline: 0;
            margin-inline: auto;
        }
    }

    .tooltip.tooltip-top-start {
        &::before {
            bottom: calc(100% + var(--tooltip-margin));
            left: 0;
        }

        &::after {
            bottom: calc(100% + var(--tooltip-arrow-margin));
            left: var(--tooltip-margin);
        }
    }

    .tooltip.tooltip-top-end {
        &::before {
            bottom: calc(100% + var(--tooltip-margin));
            right: 0;
        }

        &::after {
            bottom: calc(100% + var(--tooltip-arrow-margin));
            right: var(--tooltip-margin);
        }
    }

    .tooltip.tooltip-bottom {
        &::before {
            top: calc(100% + var(--tooltip-margin));
            left: 50%;
            transform: translateX(-50%);
        }

        &::after {
            top: calc(100% + var(--tooltip-arrow-margin));
            inset-inline: 0;
            margin-inline: auto;
        }
    }

    .tooltip.tooltip-bottom-start {
        &::before {
            top: calc(100% + var(--tooltip-margin));
            left: 0;
        }

        &::after {
            top: calc(100% + var(--tooltip-arrow-margin));
            left: var(--tooltip-margin);
        }
    }

    .tooltip.tooltip-bottom-end {
        &::before {
            top: calc(100% + var(--tooltip-margin));
            right: 0;
        }

        &::after {
            top: calc(100% + var(--tooltip-arrow-margin));
            right: var(--tooltip-margin);
        }
    }

    .tooltip.tooltip-left {
        &::before {
            right: calc(100% + var(--tooltip-margin));
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            right: calc(100% + var(--tooltip-arrow-margin));
            inset-block: 0;
            margin-block: auto;
        }
    }

    .tooltip.tooltip-left-start {
        &::before {
            top: 0;
            right: calc(100% + var(--tooltip-margin));
        }

        &::after {
            top: var(--tooltip-arrow-margin);
            right: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip.tooltip-left-end {
        &::before {
            bottom: 0;
            right: calc(100% + var(--tooltip-margin));
        }

        &::after {
            bottom: var(--tooltip-arrow-margin);
            right: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip.tooltip-right {
        &::before {
            left: calc(100% + var(--tooltip-margin));
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            left: calc(100% + var(--tooltip-arrow-margin));
            inset-block: 0;
            margin-block: auto;
        }
    }

    .tooltip.tooltip-right-start {
        &::before {
            top: 0;
            left: calc(100% + var(--tooltip-margin));
        }

        &::after {
            top: var(--tooltip-arrow-margin);
            left: calc(100% + var(--tooltip-arrow-margin));
        }
    }

    .tooltip.tooltip-right-end {
        &::before {
            bottom: 0;
            left: calc(100% + var(--tooltip-margin));
        }

        &::after {
            bottom: var(--tooltip-arrow-margin);
            left: calc(100% + var(--tooltip-arrow-margin));
        }
    }
}