@layer components {
    .page {
        /* layout */
        display: flex;
        flex-direction: column;

        /* dimensions */
        /* min-height to ensure background color covers the whole page */
        min-height: 100vh;

        /* color */
        background-color: var(--color-base-background);

        /* animation */
        transition-property: margin;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
    }
}