@layer components {
    aside.sidebar {
        /* container query - for tracking max and min width */
        container-type: inline-size;
        container-name: sidebar;
        /* fixed the sidebar position to allow overlapping the main content */
        position: fixed;
        display: flex;
        z-index: 10;
        flex-direction: column;
        flex: auto 0 0;
        /* dimensions */
        height: 100vh;
        width: var(--tt-sidebar-width);
        max-width: var(--tt-sidebar-max-w);
        min-width: var(--tt-sidebar-min-w);
        /* colors */
        background-color: var(--color-neutral-100);
        border-right: 1px solid var(--color-neutral-200);
        color: var(--color-neutral-600);
        /* animation */
        transition-property: width;
        transition-duration: var(--tt-duration, var(--default-transition-duration));
        transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
        /* collapsible logic */
        --tt-sidebar-width: var(--tt-sidebar-max-w);
        /* adjust the main container left padding */
        + div {
            padding-inline-start: var(--tt-sidebar-max-w);
        }
        /* use a hidden checkbox to toggle the sidebar */
        &:has(.sidebar-toggle input:checked) {
            --tt-sidebar-width: var(--tt-sidebar-min-w);
            /* adjust the main container left padding */
            + div {
                padding-inline-start: var(--tt-sidebar-min-w);
            }
            &:hover {
                --tt-sidebar-width: var(--tt-sidebar-max-w);
            }
        }
        /* modifiers */
        --tt-sidebar-max-w: --spacing(64);
        --tt-sidebar-min-w: --spacing(16);
        --tt-duration: 200ms;
        --tt-ease-out: ease-out;
        /* sidebar header */
        .sidebar-header {
            display: flex;
            flex-wrap: nowrap;
            gap: --spacing(2);
            align-items: center;
            overflow: hidden;
            /* dimensions */
            min-height: --spacing(16);
            padding-inline: --spacing(4);
            /* colors */
            border-bottom: 1px solid var(--color-neutral-200);
            background-color: var(--color-neutral-50);
            /* site logo / brand */
            .sidebar-logo {
                width: --spacing(8);
                height: --spacing(8);
                min-width: --spacing(8);
                min-height: --spacing(8);
                padding: --spacing(1);
                background-color: var(--color-white);
                border: 1px solid var(--color-neutral-300);
                border-radius: var(--radius-sm);
                text-align: center;
            }
            /* site title */
            .sidebar-title {
                flex-grow: 1;
                overflow: hidden;
                font-weight: var(--font-weight-medium);
            }
            /* sidebar toggle button - to collapse the sidebar */
            .sidebar-toggle {
                margin-inline-start: --spacing(2);
                overflow: hidden;
                input[type='checkbox'] {
                    /* hide the toggle checkbox */
                    display: none;
                    /* rotate the toggle icon */
                    &:checked ~ svg {
                        rotate: 180deg;
                    }
                }
                svg {
                    /* animation */
                    transition-property: rotate;
                    transition-duration: var(--tt-duration, var(--default-transition-duration));
                    transition-timing-function: var(--tt-ease-out, var(--default-transition-timing-function));
                }
            }
        }
        /* sidebar menu links */
        .sidebar-content {
            display: flex;
            flex-direction: column;
            /* allow sidebar height to extend to the bottom */
            flex: 1;
            overflow-y: scroll;
            scrollbar-color: var(--color-neutral-300) var(--color-neutral-100);
            padding-inline-start: --spacing(4);
            /* additional element logic when sidebar is collapsed */
            @container sidebar (width < 8rem) {
                /* hide the scrollbar and introduce end padding when sidebar is collapsed */
                overflow-y: hidden;
                padding-inline-end: --spacing(4);
                /* hide divider span text when sidebar is collapsed */
                .divider {
                    gap: 0;
                    * {
                        display: none;
                    }
                }
                /* hide all sub-menu when sidebar is collapse */
                .menu > ul ul {
                    height: 0!important;
                }
            }
            /* extend the menu spacing if there is a bottom menu */
            .menu:has(+ .menu-bottom) {
                flex: 1;
            }
        }
        .sidebar-footer {
            position: sticky;
            bottom: 0;
            /* dimension */
            padding: --spacing(4);
            /* color */
            background-color: var(--color-neutral-50);
            border-top: 1px solid var(--color-neutral-200);
            box-shadow: var(--shadow);
        }
    }
}