@layer components {
    .topbar {
        /* layout */
        display: flex;
        align-items: center;
        gap: --spacing(4);
        padding-inline: --spacing(4);

        /* dimensions */
        min-height: --spacing(16);

        /* color */
        color: var(--color-base-foreground);
        background-color: var(--color-base);
        border-bottom: 1px solid var(--color-base-border);
    }
}