html {
    --font-inter: "Inter";

    font-family: var(--font-inter, var(--font-sans-serif));
}

.bg-pattern-dots {
    background-image: radial-gradient(color-mix(in oklab, currentColor, transparent 25%) .5px, transparent .5px);
    background-size: calc(20 * .5px) calc(20 * .5px);
}

.bg-rrrepeat {
    background-image: url('../img/rrrepeat.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-color: color-mix(in oklab, var(--color-base-background) 60%, transparent);
    background-blend-mode:lighten;
}

@import "highlight.js/styles/panda-syntax-dark.min.css"; /* goood */