@import "tailwindcss";

@theme {
    --color-primary: var(--color-sky-500);
    --color-primary-outline: var(--color-sky-600);
    --color-primary-hover: var(--color-sky-400);
    --color-primary-active: var(--color-sky-600);

    --color-secondary: var(--color-cyan-500);
    --color-secondary-outline: var(--color-cyan-600);
    --color-secondary-hover: var(--color-cyan-400);
    --color-secondary-active: var(--color-cyan-600);

    --color-info: var(--color-purple-500);
    --color-info-outline: var(--color-purple-600);
    --color-info-hover: var(--color-purple-400);
    --color-info-active: var(--color-purple-600);

    --color-dark: var(--color-neutral-800);
    --color-dark-outline: var(--color-neutral-950);
    --color-dark-hover: var(--color-neutral-600);
    --color-dark-active: var(--color-neutral-950);

    --color-light: var(--color-white);
    --color-light-outline: var(--color-neutral-300);
    --color-light-hover: var(--color-neutral-50);
    --color-light-active: var(--color-neutral-200);

    --color-grey: var(--color-gray-400);
    --color-grey-outline: var(--color-gray-500);
    --color-grey-hover: var(--color-gray-300);
    --color-grey-active: var(--color-gray-500);

    --color-danger: var(--color-red-500);
    --color-danger-outline: var(--color-red-600);
    --color-danger-hover: var(--color-red-400);
    --color-danger-active: var(--color-red-600);

    --color-warning: var(--color-yellow-400);
    --color-warning-outline: var(--color-yellow-500);
    --color-warning-hover: var(--color-amber-300);
    --color-warning-active: var(--color-amber-400);

    --color-success: var(--color-green-500);
    --color-success-outline: var(--color-green-600);
    --color-success-hover: var(--color-green-400);
    --color-success-active: var(--color-green-600);
}

@layer components {
    .btn {
        @apply  text-base
                rounded-md
                px-5 py-2
                ;
    }
    .btn-xs {
        @apply  text-xs
                rounded-sm
                px-5 py-1.25
                ;
    }
    .btn-sm {
        @apply  text-sm
                rounded
                px-5 py-1.5
                ;
    }
    .btn-lg {
        @apply  text-lg
                rounded-lg
                px-6 py-2.5
                ;
    }
    .btn-xl {
        @apply  text-xl
                rounded-lg
                px-7 py-3.5
                ;
    }
    .btn-primary {
        @apply  
                bg-primary
                hover:bg-primary-hover
                active:bg-primary-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-primary),0_0_0_1px_var(--color-primary-outline)]
                text-white;
    }
    .btn-outline.btn-primary {
        @apply  
                bg-transparent-primary
                text-primary
    }
    .btn-secondary {
        @apply  
                bg-secondary
                hover:bg-secondary-hover
                active:bg-secondary-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-secondary),0_0_0_1px_var(--color-secondary-outline)]
                text-white;
    }
    .btn-info {
        @apply  
                bg-info
                hover:bg-info-hover
                active:bg-info-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-info),0_0_0_1px_var(--color-info-outline)]
                text-white;
    }
    .btn-dark {
        @apply  
                bg-dark
                hover:bg-dark-hover
                active:bg-dark-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-dark),0_0_0_1px_var(--color-dark-outline)]
                text-white;
    }
    .btn-light {
        @apply  
                bg-light
                hover:bg-light-hover
                active:bg-light-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-neutral-300),0_0_0_1px_var(--color-light-outline)]
    }
    .btn-grey, .btn-gray {
        @apply  
                bg-grey
                hover:bg-grey-hover
                active:bg-grey-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-grey),0_0_0_1px_var(--color-grey-outline)]
                text-white;
    }
    .btn-danger {
        @apply  
                bg-danger
                hover:bg-danger-hover
                active:bg-danger-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_10px_10px_0_rgba(var(--color-red-500)_50),0_0_0_1px_var(--color-danger-outline)]
                text-white;
    }
    .btn-warning {
        @apply  
                bg-warning
                hover:bg-warning-hover
                active:bg-warning-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-warning),0_0_0_1px_var(--color-warning-outline)]
                text-white;
    }
    .btn-success {
        @apply  
                bg-success
                hover:bg-success-hover
                active:bg-success-active
                shadow-[0_1px_0_0_oklch(100_0_0/0.3)_inset,0_1px_2px_0_var(--color-success),0_0_0_1px_var(--color-success-outline)]
                text-white;
    }
}

html {
    font-size: 14px;
}